* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  color: #fff;
  font-family: lato;
}

.hide {
  display: none;
}

.task {
  margin-left: 5pc;
  margin-top: 20px;
}
