* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  color: #fff;
  font-family: lato;
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4d60fe;
  position: relative;
}

.inputField {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn,
.input {
  height: 5rem;
  border-radius: 15px;
  border: 5px solid #3f48cc;
  background-color: #fff;
}

.input {
  width: 25rem;
}

.btn {
  width: 6rem;
}

.task {
  width: 30rem;
  height: 15rem;
  border-radius: 15px;
  border: 5px solid #fff;
  background-color: #3f48cc;
  position: relative;
}

.del {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
  border: 5px solid #fff;
  background-color: rgb(163, 73, 164);
}

.text {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: justify;
  width: 15rem;
  background-color: red;
  font-size: 22px;
}

.hide {
  display: none;
}
